:root{
    --color: ##EFE8D8
    --txt: rgb(black)
}
@font-face {
    font-family: rakkas;
    src: url('../Fonts/Rakkas-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);

    /* outline: 1px solid red; */
}
.content {
    width: 100vw;
    height: 100vh;
}
.content,
.logo{
    display: flex;
    background-color: rgb(239, 232, 216, .7);
    flex-flow: row wrap;
}
.picture{
    background-image: url('./rolands.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 30vw;
}
.logo{
    height: auto;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
}


h1{
    font-family: rakkas;
    color: #FF4552;
}

.finthechat {
    height: 10vh;
}

.right{
    width: 70vw;
    background-color: #EFE8D8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

}

.left{
    padding-left: 3vw;
}

.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remote-text{
    margin-top: 40px;} 

.italic{
    color: #FF4552;
}
    

.tiny-text{
    font-size: .3rem;
    margin-bottom: 40px;
}


.form{
    box-shadow: 0 10px 10px -1px rgb(41,99,80, .3);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 70%;
}

.form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

input{
    background-color: var(--color);
    border: 1px solid rgb(0,0,0);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(255, 69, 82);
}

button{
    font-family: rakkas;
    background-color: rgb(255, 69, 82);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid rgb(0,0,0);
    border-radius: 5px;
    padding: 10px 40px;
}

button:hover{
    background-color: rgb(0,0,0);
    color: rgb(255, 69, 82);
    
}

.log-in{
    display: flex;
    gap: 5px;
    padding-top: 40px;
}

a{
    text-decoration: none;
    color: rgb(255, 69, 82);
    font-weight: 700;
}

a:hover{
    color: white;
}